DATABASE_URL=postgresql+psycopg://postgres:<url-encoded-password>@db.<project-ref>.supabase.co:5432/postgres?sslmode=require
JWT_SECRET=change-me-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
CORS_ORIGINS=http://localhost:5173
GOOGLE_CLIENT_ID=486347902494-mruf16d1kl8n3u8hqv5qtohtd850ib6j.apps.googleusercontent.com
